<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10">
<![endif]-->
<!--[if gte IE 10]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Find Money</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")

    <meta name="title" content="Find Money">
    <meta name="description" content="Find Money">
    <meta name="image" content="">

    <!-- FACEBOOK -->
    <meta property="og:title" content="Find Money" />
    <meta property="og:description" content="Find Money" />
    <meta property="og:image" content="/images/CI/UnclaimedAssets/facebook-share.jpg" />
    <meta property="og:site_name" content="Find Money" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">


    <link rel="icon" type="image/png" href="/images/CI/UnclaimedAssets/favicon.ico">

    <style>
        [data-module], [data-step] {
            display: none;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="/images/CI/UnclaimedAssets/version_3892.css">
</head>
<body>

    <!-- DESIGN BEGIN 220 -->
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="position: fixed; top: 0; right: 0;">
        <a class="a2a_button_email" style="float: right"></a>
        <a class="a2a_button_skype" style="float: right"></a>
        <a class="a2a_button_twitter" style="float: right"></a>
        <a class="a2a_button_facebook" style="float: right"></a>
        <a class="a2a_button_linkedin" style="float: right"></a>
        <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl=http%3A%2F%2Funclaimed-assets-online.americanprizes.com%2F&linkname=" style="float: right"></a>
    </div>
    <script>
        var a2a_config = a2a_config || {};
        a2a_config.linkurl = "http://unclaimed-assets-online.americanprizes.com/";
    </script>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
    <section>
        @RenderBody()
    </section>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
    var appConfig = {
    "data": {
        "guid": "9bbba525c16895155a0f97ec7066a0c37e9c004f",
        "gateway_id": 453,
        "version_id": 3892,
        "ad_id": 0,
        "country": "us",
        "region": "na",
        "request_time": 1520527717.8821
    },
    "s2sid": "gfkalZHrV78RGIOtkiiRn_Qxd-TMrn8z6FUXQoAZa1_9t5ljXCHNEigLVLtEShGdNrcM8bwQBvLqIDBAG2cPuTVzjH9i4cCEIw_y2pDfMUGXkIBfvB8ZhNl40VBz8A4j",
    "modules": {
        "36448": {
            "id": 36448,
            "variation": 1,
            "sequence": 1,
            "position": 1,
            "step_type": 2
        },
        "36453": {
            "id": 36453,
            "variation": 1,
            "sequence": 1,
            "position": 2,
            "step_type": 2
        },
        "35477": {
            "id": 35477,
            "variation": 3696,
            "sequence": 1,
            "position": 3,
            "step_type": 2
        },
        "35481": {
            "id": 35481,
            "variation": 3700,
            "sequence": 1,
            "position": 4,
            "step_type": 2
        },
        "35482": {
            "id": 35482,
            "variation": 3701,
            "sequence": 1,
            "position": 5,
            "step_type": 2
        },
        "35483": {
            "id": 35483,
            "variation": 3702,
            "sequence": 1,
            "position": 6,
            "step_type": 2
        },
        "36329": {
            "id": 36329,
            "variation": 1,
            "sequence": 2,
            "position": 1,
            "step_type": 6
        },
        "33846": {
            "id": 33846,
            "variation": 2100,
            "sequence": 3,
            "position": 1,
            "step_type": 3
        },
        "36024": {
            "id": 36024,
            "variation": 4579,
            "sequence": 3,
            "position": 2,
            "step_type": 3
        },
        "36444": {
            "id": 36444,
            "variation": 1,
            "sequence": 3,
            "position": 3,
            "step_type": 3
        },
        "36430": {
            "id": 36430,
            "variation": 1,
            "sequence": 3,
            "position": 4,
            "step_type": 3
        },
        "33845": {
            "id": 33845,
            "variation": 4343,
            "sequence": 3,
            "position": 5,
            "step_type": 3
        },
        "35121": {
            "id": 35121,
            "variation": 4342,
            "sequence": 3,
            "position": 6,
            "step_type": 3
        },
        "36465": {
            "id": 36465,
            "variation": 1,
            "sequence": 3,
            "position": 7,
            "step_type": 3
        },
        "33843": {
            "id": 33843,
            "variation": 1325,
            "sequence": 3,
            "position": 8,
            "step_type": 3
        },
        "36372": {
            "id": 36372,
            "variation": 1,
            "sequence": 3,
            "position": 9,
            "step_type": 3
        },
        "36470": {
            "id": 36470,
            "variation": 1,
            "sequence": 3,
            "position": 10,
            "step_type": 3
        },
        "36383": {
            "id": 36383,
            "variation": 1,
            "sequence": 3,
            "position": 11,
            "step_type": 3
        },
        "34596": {
            "id": 34596,
            "variation": 4601,
            "sequence": 3,
            "position": 12,
            "step_type": 3
        },
        "36227": {
            "id": 36227,
            "variation": 1,
            "sequence": 3,
            "position": 13,
            "step_type": 3
        },
        "36210": {
            "id": 36210,
            "variation": 1,
            "sequence": 3,
            "position": 14,
            "step_type": 3
        },
        "34907": {
            "id": 34907,
            "variation": 2812,
            "sequence": 3,
            "position": 15,
            "step_type": 3
        },
        "33841": {
            "id": 33841,
            "variation": 3311,
            "sequence": 3,
            "position": 16,
            "step_type": 3
        },
        "36312": {
            "id": 36312,
            "variation": 1,
            "sequence": 3,
            "position": 17,
            "step_type": 3
        },
        "35681": {
            "id": 35681,
            "variation": 4153,
            "sequence": 3,
            "position": 18,
            "step_type": 3
        },
        "35521": {
            "id": 35521,
            "variation": 3765,
            "sequence": 3,
            "position": 19,
            "step_type": 3
        },
        "35327": {
            "id": 35327,
            "variation": 3872,
            "sequence": 3,
            "position": 20,
            "step_type": 3
        },
        "35117": {
            "id": 35117,
            "variation": 3999,
            "sequence": 3,
            "position": 21,
            "step_type": 3
        },
        "35745": {
            "id": 35745,
            "variation": 4094,
            "sequence": 3,
            "position": 22,
            "step_type": 3
        },
        "33844": {
            "id": 33844,
            "variation": 12,
            "sequence": 3,
            "position": 23,
            "step_type": 3
        },
        "35356": {
            "id": 35356,
            "variation": 4398,
            "sequence": 3,
            "position": 24,
            "step_type": 3
        },
        "33520": {
            "id": 33520,
            "variation": 889,
            "sequence": 4,
            "position": 1,
            "step_type": 6
        },
        "35551": {
            "id": 35551,
            "variation": 3808,
            "sequence": 5,
            "position": 1,
            "step_type": 3
        },
        "34129": {
            "id": 34129,
            "variation": 3732,
            "sequence": 5,
            "position": 2,
            "step_type": 3
        },
        "36187": {
            "id": 36187,
            "variation": 1,
            "sequence": 5,
            "position": 3,
            "step_type": 3
        },
        "36250": {
            "id": 36250,
            "variation": 1,
            "sequence": 5,
            "position": 4,
            "step_type": 3
        },
        "36240": {
            "id": 36240,
            "variation": 2,
            "sequence": 5,
            "position": 5,
            "step_type": 3
        },
        "36412": {
            "id": 36412,
            "variation": 1,
            "sequence": 5,
            "position": 6,
            "step_type": 3
        },
        "36413": {
            "id": 36413,
            "variation": 1,
            "sequence": 5,
            "position": 7,
            "step_type": 3
        },
        "10122": {
            "id": 10122,
            "variation": 37,
            "sequence": 5,
            "position": 8,
            "step_type": 3
        },
        "36463": {
            "id": 36463,
            "variation": 1,
            "sequence": 5,
            "position": 9,
            "step_type": 3
        },
        "36422": {
            "id": 36422,
            "variation": 1,
            "sequence": 5,
            "position": 10,
            "step_type": 3
        },
        "35594": {
            "id": 35594,
            "variation": 3873,
            "sequence": 5,
            "position": 11,
            "step_type": 3
        },
        "36113": {
            "id": 36113,
            "variation": 4664,
            "sequence": 5,
            "position": 12,
            "step_type": 3
        },
        "35862": {
            "id": 35862,
            "variation": 4271,
            "sequence": 5,
            "position": 13,
            "step_type": 3
        },
        "35698": {
            "id": 35698,
            "variation": 4021,
            "sequence": 5,
            "position": 14,
            "step_type": 3
        },
        "35746": {
            "id": 35746,
            "variation": 4096,
            "sequence": 5,
            "position": 15,
            "step_type": 3
        },
        "35033": {
            "id": 35033,
            "variation": 2964,
            "sequence": 5,
            "position": 16,
            "step_type": 3
        },
        "33241": {
            "id": 33241,
            "variation": 507,
            "sequence": 5,
            "position": 17,
            "step_type": 3
        },
        "35413": {
            "id": 35413,
            "variation": 3581,
            "sequence": 5,
            "position": 18,
            "step_type": 3
        },
        "34270": {
            "id": 34270,
            "variation": 3450,
            "sequence": 5,
            "position": 19,
            "step_type": 3
        },
        "10120": {
            "id": 10120,
            "variation": 35,
            "sequence": 5,
            "position": 20,
            "step_type": 3
        },
        "34889": {
            "id": 34889,
            "variation": 2779,
            "sequence": 5,
            "position": 21,
            "step_type": 3
        },
        "34737": {
            "id": 34737,
            "variation": 2565,
            "sequence": 5,
            "position": 22,
            "step_type": 3
        },
        "34323": {
            "id": 34323,
            "variation": 1994,
            "sequence": 5,
            "position": 23,
            "step_type": 3
        },
        "34528": {
            "id": 34528,
            "variation": 4174,
            "sequence": 5,
            "position": 24,
            "step_type": 3
        },
        "35006": {
            "id": 35006,
            "variation": 2926,
            "sequence": 5,
            "position": 25,
            "step_type": 3
        },
        "35889": {
            "id": 35889,
            "variation": 4304,
            "sequence": 6,
            "position": 1,
            "step_type": 6
        },
        "33924": {
            "id": 33924,
            "variation": 3449,
            "sequence": 7,
            "position": 1,
            "step_type": 6
        },
        "35341": {
            "id": 35341,
            "variation": 3571,
            "sequence": 8,
            "position": 1,
            "step_type": 6
        },
        "35479": {
            "id": 35479,
            "variation": 3699,
            "sequence": 9,
            "position": 1,
            "step_type": 8
        },
        "33393": {
            "id": 33393,
            "variation": 730,
            "sequence": 10,
            "position": 1,
            "step_type": 9
        }
    },
    "urls": {
        "offerwall": "http:\/\/tracking-na.contentignition.net\/us.php?r=pixels\/redirect",
        "pixel": "api.php?r=pixels\/fire",
        "action": "api.php?r=actions\/add",
        "lead": "api.php?r=leads\/add",
        "extra": "api.php?r=extras\/add",
        "track": "api.php?r=trackings\/add",
        "usersConnections": "api.php?r=usersConnections\/add",
        "doubleOptIn": "api.php?r=leads\/send"
    },
    "attributeMap": {
        "step_id": "data-step",
        "module_id": "data-module",
        "action_id": "data-action",
        "offerwall_id": "data-offer",
        "offerwall_description": "data-description",
        "offerwall_url": "data-src",
        "value": "data-value"
    },
    "messages": {
        "address_blacklisted_badwords": "Please provide a valid address",
        "address_char_repetition": "Please provide a valid address",
        "address_char_type_repetition": "Please provide a valid address",
        "address_invalid": "Please provide a valid address",
        "address_missing": "Please provide an address",
        "cep_inexistent": "Please provide a valid CEP",
        "cep_invalid": "Please provide a valid CEP",
        "cep_missing": "Please provide a valid CEP",
        "checkbox1_missing": "Please accept the terms and conditions",
        "checkbox2_missing": "Please accept the terms and conditions (2)",
        "checkbox3_missing": "Please accept the terms and conditions (3)",
        "city_missing": "Please provide a City",
        "coreg_missing": "Please answer all the questions",
        "dob_invalid": "Please provide a valid Date of Birth",
        "dob_missing": "Please provide Date of Birth",
        "dob_overage": "Please provide a valid Date of Birth",
        "dob_underage": "Underaged not allowed",
        "email_blacklisted_badwords": "Please provide a valid email address",
        "email_blacklisted_domain": "Please provide a valid email address",
        "email_blacklisted_robinson_list": "You definitely canceled the participation in our marketing database.",
        "email_duplicated": "You have participated already",
        "email_invalid": "Please provide a valid email address",
        "email_missing": "Please provide an email address",
        "essentials_required": "CONNECTION ERROR. PLEASE TRY AGAIN LATER",
        "gender_invalid": "Please provide your Title",
        "gender_missing": "Please provide your Title",
        "ip_duplicated": "You have participated already",
        "name_blacklisted_badwords": "Please provide a valid Full Name",
        "name_char_repetition": "Please provide a valid Full Name",
        "name_char_type_repetition": "Please provide a valid Full Name",
        "name_has_numbers": "Please provide a valid Full Name",
        "name_invalid": "Please provide a valid Full Name",
        "name_missing": "Please provide your Full Name",
        "name_too_big": "Please provide a valid Full Name",
        "name_too_small": "Please provide a valid Full Name",
        "phone_blacklisted_robinson_list": "Please provide a valid Phone Number",
        "phone_duplicated": "Please provide a valid Phone Number",
        "phone_invalid": "Please provide a valid Phone Number",
        "phone_missing": "Please provide your Phone Number",
        "phone_repetition": "Please provide a valid Phone Number",
        "phone_sequence": "Please provide a valid Phone Number",
        "state_inexistent": "Please provide a valid state",
        "state_missing": "Please provide a valid state",
        "zip_inexistent": "Please provide a Zip Code",
        "zip_invalid": "Please provide a valid Zip Code",
        "zip_missing": "Please provide a Zip Code",
        "captcha_empty": "Captcha verification has failed (0)",
        "captcha_test_failed": "Captcha verification has failed (1)",
        "captcha_error": "Captcha verification has failed (2)",
        "captcha_empty_secret": "Captcha verification has failed (3)"
    },
    "welcome_email": {
        "template": "us-money-d220-doi",
        "protected_fields": [
            "blacklist_checked",
            "doubleOptAt",
            "invalidatedEmail",
            "invalidatedPhoneNumber",
            "lead_quality_id",
            "pixel_id",
            "unsubscribed",
            "id",
            "ip"
        ]
    }
};

    var formConfig = {
    "validationRules": {
        "dateOfBirth": {
            "dob_missing": "required",
            "dob_invalid": "date",
            "dob_overage": "max:80",
            "dob_underage": "min:18"
        },
        "phoneNumber": {
            "phone_missing": "required"
        },
        "cep": {
            "cep_missing": "required",
            "cep_invalid": "",
            "cep_inexistent": ""
        },
        "state": {
            "state_missing": "required"
        },
        "checkbox1": {
            "checkbox1_missing": "required"
        },
        "checkbox2": {
            "checkbox2_missing": "required"
        },
        "checkbox3": {
            "checkbox3_missing": "required"
        },
        "address": {
            "address_missing": "required",
            "address_invalid": "regex:\\s"
        },
        "postalCode": {
            "zip_invalid": "regex:^\\d{5}|\\d{4}$",
            "zip_missing": "required"
        },
        "email": {
            "email_invalid": "regex:^[a-zA-Z0-9._%+-]+[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,63}$",
            "email_missing": "required"
        },
        "gender": {
            "gender_missing": "required"
        },
        "name": {
            "name_missing": "required",
            "name_too_big": "max:50",
            "name_has_numbers": "!regex:\\d+",
            "name_too_small": "min:3"
        },
        "city": {
            "city_missing": "required"
        },
        "firstName": {
            "name_missing": "required",
            "name_too_big": "max:50",
            "name_has_numbers": "!regex:\\d+",
            "name_too_small": "min:3"
        },
        "lastName": {
            "name_missing": "required",
            "name_too_big": "max:50",
            "name_has_numbers": "!regex:\\d+",
            "name_too_small": "min:3"
        }
    },
    "serverSideErrors": {
        "taxNumber_missing": 560,
        "taxNumber_invalid": 561,
        "address_blacklisted_badwords": 544,
        "address_char_repetition": 542,
        "address_char_type_repetition": 541,
        "address_invalid": 543,
        "address_missing": 540,
        "cep_inexistent": 582,
        "cep_invalid": 581,
        "cep_missing": 580,
        "checkbox1_missing": 590,
        "checkbox2_missing": 591,
        "checkbox3_missing": 592,
        "dob_invalid": 531,
        "dob_missing": 530,
        "dob_overage": 533,
        "dob_underage": 532,
        "email_blacklisted_badwords": 524,
        "email_blacklisted_domain": 522,
        "email_blacklisted_robinson_list": 523,
        "email_duplicated": 1000,
        "email_invalid": 521,
        "email_missing": 520,
        "essentials_required": 593,
        "gender_invalid": 501,
        "gender_missing": 500,
        "ip_duplicated": 1002,
        "name_blacklisted_badwords": 519,
        "name_char_repetition": 513,
        "name_char_type_repetition": 512,
        "name_has_numbers": 514,
        "name_invalid": 511,
        "name_missing": 510,
        "name_too_big": 516,
        "name_too_small": 515,
        "phone_blacklisted_robinson_list": 574,
        "phone_duplicated": 1001,
        "phone_invalid": 571,
        "phone_missing": 570,
        "phone_repetition": 573,
        "phone_sequence": 572,
        "state_inexistent": 586,
        "state_missing": 585,
        "zip_inexistent": 552,
        "zip_invalid": 551,
        "zip_missing": 550
    },
    "clientSideErrors": {
        "taxNumber_missing": 460,
        "taxNumber_invalid": 461,
        "name_too_big": 416,
        "email_missing": 420,
        "checkbox3_missing": 492,
        "name_char_repetition": 413,
        "cep_inexistent": 482,
        "state_inexistent": 486,
        "phone_repetition": 473,
        "name_too_small": 415,
        "dob_underage": 432,
        "address_missing": 440,
        "zip_missing": 450,
        "cep_missing": 480,
        "checkbox2_missing": 491,
        "gender_missing": 400,
        "dob_invalid": 431,
        "name_has_numbers": 414,
        "name_missing": 410,
        "phone_invalid": 471,
        "name_char_type_repetition": 412,
        "address_char_repetition": 442,
        "dob_missing": 430,
        "checkbox1_missing": 490,
        "email_invalid": 421,
        "name_invalid": 411,
        "zip_invalid": 451,
        "cep_invalid": 481,
        "address_char_type_repetition": 441,
        "address_invalid": 443,
        "phone_sequence": 472,
        "dob_overage": 433,
        "phone_missing": 470,
        "state_missing": 485,
        "city_missing": 1004
    },
    "lead_quality_action_map": [
        "lead_unique",
        "lead_duplicated_phone",
        "lead_duplicated_email",
        "lead_duplicated_ip",
        "lead_duplicated_phone_email",
        "lead_invalid_ip_country_code"
    ]
};

    var actionsConfig = {
    "request": 1,
    "yes": 2,
    "no": 3,
    "form": 4,
    "select": 19,
    "skip": 6,
    "click": 8,
    "impression": 9,
    "error": 10,
    "close_layer": 13,
    "coreg_missing": 14,
    "no_diferent": 1005,
    "lead_unique": 100,
    "lead_duplicated_phone": 101,
    "lead_duplicated_email": 102,
    "lead_duplicated_ip": 103,
    "lead_duplicated_phone_email": 104,
    "lead_invalid_ip_country_code": 105
};

    var eventHandlerConfig = {
    "steps": [
        {
            "id": 0,
            "tag": "form",
            "modules": [
                36448,
                36453,
                35477,
                35481,
                35482,
                35483
            ],
            "skip": false,
            "type": 2,
            "sequence": 1
        },
        {
            "id": 1,
            "tag": "TheAstrologyGuideRedirectIfDupe",
            "modules": [
                36329
            ],
            "skip": false,
            "type": 6,
            "sequence": 2
        },
        {
            "id": 2,
            "tag": "survey",
            "modules": [
                33846,
                36024,
                36444,
                36430,
                33845,
                35121,
                36465,
                33843,
                36372,
                36470,
                36383,
                34596,
                36227,
                36210,
                34907,
                33841,
                36312,
                35681,
                35521,
                35327,
                35117,
                35745,
                33844,
                35356
            ],
            "skip": false,
            "type": 3,
            "sequence": 3
        },
        {
            "id": 3,
            "tag": "iframe_moneyfinder",
            "modules": [
                33520
            ],
            "skip": false,
            "type": 6,
            "sequence": 4
        },
        {
            "id": 4,
            "tag": "offers",
            "modules": [
                35551,
                34129,
                36187,
                36250,
                36240,
                36412,
                36413,
                10122,
                36463,
                36422,
                35594,
                36113,
                35862,
                35698,
                35746,
                35033,
                33241,
                35413,
                34270,
                10120,
                34889,
                34737,
                34323,
                34528,
                35006
            ],
            "skip": false,
            "type": 3,
            "sequence": 5
        },
        {
            "id": 5,
            "tag": "iframe_FreeBrandSamples",
            "modules": [
                35889
            ],
            "skip": false,
            "type": 6,
            "sequence": 6
        },
        {
            "id": 6,
            "tag": "iframe_clicks4riches",
            "modules": [
                33924
            ],
            "skip": false,
            "type": 6,
            "sequence": 7
        },
        {
            "id": 7,
            "tag": "iframe_anemia",
            "modules": [
                35341
            ],
            "skip": false,
            "type": 6,
            "sequence": 8
        },
        {
            "id": 8,
            "tag": "success",
            "modules": [
                35479
            ],
            "skip": false,
            "type": 8,
            "sequence": 9
        },
        {
            "id": 9,
            "tag": "reward",
            "modules": [
                33393
            ],
            "skip": true,
            "type": 9,
            "sequence": 10
        }
    ]
};
    </script>
    <script type="text/javascript" src="/images/CI/UnclaimedAssets/version_3892.js"></script>
</body>
</html>
