
<table>
    <tbody>
        <tr>
            <td style="font-size: x-small;">
                <b>Name:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.LeadName
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Address:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.LeadAddress
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Account No:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.ACCOUNT_NUMBER
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Email:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.Email
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Plan Description:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.PLAN_DESCRIPTION
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Plan Start Date:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.PLAN_START_DATE
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Renewal Date:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.NEXT_RENEWAL_DATE
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Deactivation Date:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.ESN_DEACTIVATION_DATE
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Auto Make:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.AUTO_MAKE
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Auto Model:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.AUTO_MODEL
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Trim And Year:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.Auto_Trim_Year
            </td>
        </tr>
    </tbody>
</table>

