
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Demo Launch Page</title>
    <meta charset="utf-8" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>

    <div class="container rounded" style="background-image: linear-gradient(to right bottom, #1B2754, #263B95)">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/white-screenplay-logo-horizontal.png" />
            </div>
            <div class="col-md-8">
                <h1 style="color:white">Demo Launch Page</h1>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row" style="background-color:whitesmoke">
            <div id="Surveys" class="col-md-6" style="background-color:whitesmoke">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Surveys</h3></div>
                    <div class="panel-body">
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/GuestSurvey/?GuestID=1&CallID=9999&ClientId=8F7F7CB4-3BDF-47F3-8388-EAFA184DD25D&UserId=EB762238-2EB8-4534-B08E-6EF1CBCB906C&Cell=6463000120">Guest 1 survey joe</a><br />
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/GuestSurvey/?GuestID=2&CallID=9999&ClientId=8F7F7CB4-3BDF-47F3-8388-EAFA184DD25D&UserId=EB762238-2EB8-4534-B08E-6EF1CBCB906C&Cell=7139621944">Guest 2 survey mich</a><br />
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/GuestSurvey/?GuestID=3&CallID=9999&ClientId=8F7F7CB4-3BDF-47F3-8388-EAFA184DD25D&UserId=EB762238-2EB8-4534-B08E-6EF1CBCB906C&cell=6462847179">Guest 3 survey aug</a><br />

                    </div>
                </div>

            </div>

            <div id="LeadGen" class="col-md-6" style="background-color:whitesmoke">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Lead Generation</h3></div>
                    <div class="panel-body">
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/Zeta/?CallID=101102&LeadID=TM1000&AgentName=Steve&NewAgent=Y&UserId=DC33470B-7B24-421A-B6A8-0C933B703CF0&ClientId=926397EE-29C0-4C9B-9C9A-77E7C430FD92">Novice Agent – Lead Generation</a><br />
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/Zeta/?CallID=101102&LeadID=TM1000&AgentName=Steve&NewAgent=N&UserId=DC33470B-7B24-421A-B6A8-0C933B703CF0&ClientId=926397EE-29C0-4C9B-9C9A-77E7C430FD92">Experienced Agent – Lead Generation</a><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div id="Customer Service" class="col-md-6" style="background-color:whitesmoke">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>SERVICE</h3></div>
                    <div class="panel-body">
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/Electrical/?CallID=101102&AgentName=Steve&UserId=BC857B01-DC33-4473-B8BD-0B3896091EA0&ClientId=56FD4655-DE4C-4F78-8354-CB2B468F1A12 ">Electrical Service Demo</a><br />
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/Plumbing/?CallID=101102&AgentName=Steve&UserId=BC857B01-DC33-4473-B8BD-0B3896091EA0&ClientId=56FD4655-DE4C-4F78-8354-CB2B468F1A12">Plumbing Service Demo</a><br />
                    </div>
                </div>
            </div>
            <div id="Sales" class="col-md-6" style="background-color:whitesmoke">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Sales</h3></div>
                    <div class="panel-body">
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/OutboundDemo/?CallID=101102&LeadID=10061&AgentName=Steve&NewAgent=Y&UserId=60E81023-9942-40AC-BCCB-8B17BABCAC7E&ClientId=EEE35250-5337-4612-BC3C-189F6D8C4E39">Novice Agent – Outbound Sales</a><br />
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/OutboundDemo/?CallID=101102&LeadID=10061&AgentName=Steve&NewAgent=N&UserId=60E81023-9942-40AC-BCCB-8B17BABCAC7E&ClientId=EEE35250-5337-4612-BC3C-189F6D8C4E39">Experienced Agent – Outbound Sales</a><br />
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/CSRDemo/?CallID=101102&LeadID=51437&AgentName=Steve&NewAgent=Y&UserId=60E81023-9942-40AC-BCCB-8B17BABCAC7E&ClientId=EEE35250-5337-4612-BC3C-189F6D8C4E39">Novice Agent - Inbound Sales</a><br />
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/CSRDemo/?CallID=101102&LeadID=51437&AgentName=Steve&NewAgent=N&UserId=60E81023-9942-40AC-BCCB-8B17BABCAC7E&ClientId=EEE35250-5337-4612-BC3C-189F6D8C4E39">Experienced Agent - Inbound Sales</a><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div id="Customer Service" class="col-md-6" style="background-color:whitesmoke">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>IDR</h3></div>
                    <div class="panel-body">
                        <a href="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/IDR/?CallID=101102&UserId=60E81023-9942-40AC-BCCB-8B17BABCAC7E&ClientId=EEE35250-5337-4612-BC3C-189F6D8C4E39&LeadID=51437">IDR Demo</a><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="IDR" class="col-md-12" style="background-color:whitesmoke">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Customer service queue (IDR)</h3></div>
                    @Html.Action("ServiceQueue","IDRServiceQueues")
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="Footer" class="col-md-12" style="background-image: linear-gradient(to right bottom, #263B95,#1B2754);text-align:center">
                <span style="color:White">Copyright Kipany Productions 2016-2017. All rights reserved.</span>
            </div>
        </div>
    </div>
</body>
</html>