

<table>
    <tbody>
        <tr>
            <td colspan="2">
                <b><u>Customer Information</u></b>
            </td>

        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Customer Name:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.CustName
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Cust Number:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.CustID
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b><u>Site Information</u></b>
            </td>

        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Site Number:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.SiteNumber
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>SiteName:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.SiteName
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Site Address 1:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.Address1
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Site Address 2:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.Address2
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>City:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.City
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>State:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.State
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Zip Code:</b>
            </td>
            <td style="font-size: x-small;">
                @ViewBag.ZipCode
            </td>
        </tr>
    </tbody>
</table>

